
// Typography
$font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif !default;


html{
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  font-size: 100%;
  line-height: 1.5em;
  height: 100%;
}

body {
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $blue-darker;
  height: 100%;
  position: relative;
  -webkit-touch-callout: none;
}

h1,h2,h3,h4,h5,h6{
  font-weight: normal;
}

.title {
  text-transform: uppercase;
  font-size: 20px;
  padding: 7px;
  margin: 0 0 10px 0;
  font-weight: 900;
  color: $grey;
}

.subtitle{
  background: lighten($blue, 5%);
  text-transform: uppercase;
  font-weight: 800;
  color: $white;
  font-size: 15px;
  margin: 10px 0 0;
  padding: 4px 12px;
  border-radius: 2px 2px 0 0;
}

a {
  color: $blue;
  text-decoration: none;
  &:hover,
  &:focus {
    color: $blue;
  }
  &:active {
    color: $green;
  }
}

span{
  &.center{
    display:block;
    text-align: center;
  }
}

ul{
  padding:0;
  margin: 0;
  list-style: none;
}

input{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border-radius: 2px;
  border: 1px solid $blue;
  outline: 1px solid transparent;
  @include transition(outline 100ms linear);
  &:focus{
    outline: 1px solid $blue;
  }
}

img{
  max-width: 100%;
}

button {
  display: inline-block;
  min-height: 30px;
  color: $blue;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background: $blue;
  border-radius: 2px;
  border: 1px solid $blue;
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  vertical-align: top;
  @include transition(background 50ms linear);
  svg{
    vertical-align: middle;
    max-height: 100%;
    max-width: 100%;
    box-sizing: border-box;
    display: block;
    margin: 0 auto;
    fill: $white;
  }
  &:focus{
    outline: none;
  }
  &:active{
    background: $green;
    border: 1px solid $green;
  }
}

nav {
  border-bottom: 1px solid $grey-very-light;
  padding: 5px;
  background: $blue;
  text-align: center;
  a {
    position: relative;
    padding: 3px 8px;
    box-sizing: border-box;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 800;
    color: $white;
    font-size: 15px;
    margin-right: -5px;
    border: 1px solid lighten($blue, 10%);
    border-radius: 2px 0 0 2px;
    &:hover{
      color: $white;
    }
    &:active{
      color: $white;
      background: lighten($blue, 5%);
    }
    &:focus{
      color: $white;
    }
    &.active{
      background: lighten($blue, 10%);
      border-radius: 2px;
    }
    &:last-child{
      border-radius: 0 2px 2px 0;
    }
  }
}

.container{
  padding: 10px;
}

.nested-goals{
  padding: 0 20px;
}

// .application-main{
//   height: 100%;
//   @include backface-visibility(hidden);
//   background: $grey-very-very-light;
// }