<ul class="goals">
  {{#each goals as |goal|}}
    <li class="goal">
      <span class="title">{{goal.title}}</span>
      <div class="value">
        {{input type="number" value=goal.value}}
      </div>
      <div class="button">
        <button {{action (action "saveGoal" goal)}}>{{partial 'svg/icon-done'}}</button>
      </div>
    </li>
  {{/each}}
</ul>
